# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Tooling
.antigravity/

# Database files & journals
*.db-journal
*.sqlite3
